body {
    padding: 20pt;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

.textContainer, .buttonsContainer {
    position: absolute;
    height: 40%;
    width: 100%;
    text-align: center;
}

.textContainer {
    background-color: #FF0000;
}

.buttonsContainer {
    background-color: #00FF00;
    transform: translateY(100%);
}

.text, .buttons {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}